.setup-skills__title-skills {
  margin-top: 32px;
}

.setup-skills__title-input {
  margin-top: 40px;
}

.profile-setup__input-wrapper {
  margin-top: 16px;
  position: relative;
}

.profile-setup__input {}

.profile-setup__select {
  position: absolute;
  left: 0;
  z-index: 50;
  top: calC(100% + 11px);
}

// Select Item
.profile-setup-si {
  display: flex;
  align-items: center;
  padding: 8px 0;
  padding-left: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background $app-transition;

  &:hover {
    background: rgba($clr-gray-dark, 0.1);
  }
}

.profile-setup-si__skill {
  .ui-user-skill__container {
    border-radius: 0;
    padding: 0;
    background: none;
  }

  .ui-user-skill__name {
    margin-left: 8px;
  }
}

// Skills
.setup-skills__skills-selected {
  margin-top: 16px;
}

.setup-skills__skills-list {
  margin: -18px -4px 0;
  display: flex;
  flex-wrap: wrap;
}

.setup-skills__skills-item {
  margin: 18px 4px 0;
  cursor: pointer;
}

.setup-skills__skills-listWorks {
  .setup-skills__skills-item {
    &:nth-child(4n + 1) {
      [data-role='icon'] {
        background: #aa52ff !important;

        span {
          color: #ddc3f5;
        }
      }

      [data-role='us-container'] {
        background: #ddc3f5;

        p {
          color: #aa52ff;
        }
      }
    }

    &:nth-child(4n + 2) {
      [data-role='icon'] {
        background: #00a925 !important;

        span {
          color: #b2ffc3;
        }
      }

      [data-role='us-container'] {
        background: #b2ffc3;

        p {
          color: #00a925;
        }
      }
    }

    &:nth-child(4n + 3) {
      [data-role='icon'] {
        background: #944700 !important;

        span {
          color: #fdc087;
        }
      }

      [data-role='us-container'] {
        background: #fdc087;

        p {
          color: #944700;
        }
      }
    }

    &:nth-child(4n + 4) {
      [data-role='icon'] {
        background: #0aa7ff !important;

        span {
          color: #9cdbff;
        }
      }

      [data-role='us-container'] {
        background: #9cdbff;

        p {
          color: #0aa7ff;
        }
      }
    }
  }
}