.root {
    + .root {
        margin-top: 20px;
    }
}

.date {
    font: $fontMedium;
    color: $clr-gray-dark;
}

.list {
    margin-top: 25px;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 1px;
        height: 92%;
        position: absolute;
        top: 0;
        left: 18px;
        transform: translateX(-50%);
        background-image: linear-gradient(
            to Bottom,
            $clr-gray-dark,
            $clr-gray-dark 50%,
            transparent 50%,
            transparent
        );
        background-size: 100% 10px;
    }
}
