


.setup-biography__title {
  margin-top: 19px;
}
.profile-setup__textarea {
  margin-top: 16px;
  min-height: 124px;
  padding: 18px 24px;
  background: $clr-black-main; 
  border-radius: 15px;
  caret-color: $clr-green;
}