.wallet_list {
  margin-top: 40px;
}
.wallet_item {
  padding: 18px 33px;
  background: $clr-black-main;
  border-radius: 45px;
  width: 100%;

  display: flex;
  align-items: center;

  img {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    object-fit: contain;
    object-position: center;
  }
  span {
    margin-left: 24px;
    font: $font16;
    color: $clr-white;
    transition: color .1s ease-out;
  }

  + .wallet_item {
    margin-top: 16px;
  }

  &:hover span {
    color: $clr-orange;
  }
}
