# DISCLAIMER! this file is being commited
REACT_APP_ENV=''

//Discord
REACT_APP_DISCORD_CLIENT_ID=''
//Github
REACT_APP_GITHUB_OAUTH_CLIENT_ID=''
REACT_APP_GITHUB_APP_APP_NAME='samudai'
//Notion
REACT_APP_NOTION_CLIENT_ID=''
//Gcal
REACT_APP_GOOGLE_CLIENT_ID=''
REACT_APP_GOOGLE_CLIENT_SECRET=''
//Others
REACT_APP_GATEWAY=''
REACT_APP_ENC_KEY=''
REACT_APP_WEB3SSTORAGE=''

REACT_APP_GOOGLE_API_KEY=''

REACT_APP_TRIAL_DAO_ID=''

REACT_APP_NOTIFICATIONS_URL=''
REACT_APP_MIXPANEL_TOKEN=''
REACT_APP_SEGMENT_TOKEN=''

# PAYMENT METADATA KEYS - ALL MAINNET
REACT_APP_ALCHEMY_ETHEREUM=''
REACT_APP_ALCHEMY_POLYGON=''
REACT_APP_ALCHEMY_OPTIMISM=''
REACT_APP_ALCHEMY_ARBITRUM=''

#INTRACT PROJECT ID
REACT_APP_INTRACT_PROJECT_ID=''

#SUPPORT FORM ID
REACT_APP_FORM_ID=''

# SEND BIRD CHAT
REACT_APP_SEND_BIRD_APP_ID=''
REACT_APP_SEND_BIRD_API_TOKEN=''

# Telegram Bot Link
REACT_APP_TELEGRAM_BOT_LINK=''

# Maste Auth Token
REACT_APP_AUTH_TOKEN=''
