


.root {
  display: flex;

  + .root {
    margin-top: 21px;
  }
}
.left {
  flex-shrink: 0;
}
.right {
  padding-left: 16px;
}
.img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.name {
  margin-top: 2px;
  font: $font16;
  color: $clr-white;
}
.message {
  margin-top: 8px;
  background: $clr-black-main;
  border-radius: 0px 15px 15px 15px;
  padding: 12px 16px;

  font: $fontMedium;
  color: $clr-gray-dark;
}