.about {
  padding: 16px 16px 24px;
  background: $clr-black-main;
  border-radius: 13.5px;
}
.about_title {
  font: 600 12.8px/1.1 $lato;
  color: #dedede;
}
.about_text {
  margin-top: 14.5px;
  font: 400 7.5px/1.4 $lato;
  color: $clr-gray-dark;
}
