.payout {
    padding: 38px 40px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.payout_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.payout_title {
    font: $font24;
    color: $clr-white;
}
.payout_closeBtn {
}
.payout_content {
    margin-top: 50px;
}
.payout_content_title {
    font: $fontMedium;
    color: $clr-gray-dark;
}
.payout_content_list {
    margin-top: 8px;
}
.payout_content_item {
    + .payout_content_item {
        margin-top: 8px;
    }
}
.payout_content_list + .payout_content_title {
    margin-top: 24px;
}
.payout_total {
    padding-top: 24px;
    margin-top: auto;
}
.payout_total_row {
    margin-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid $clr-black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: $font16;
    color: $clr-white;
}
.payout_controls {
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;
}
.payout_confirmBtn {
    padding: 14px;
}