


.root {
  [data-role='select-box'] {
    border-radius: 25px;
    padding: 12px 20px;
  }
}
.settingsItem {
  position: relative;
}
.settingsItemInner {
  padding: 8px 0;
  display: flex;
  align-items: center;
  cursor: pointer;;
}
.settingsItemIcon {
  width: 20px;
  flex-shrink: 0;
  img {
    max-width: 20px;
    width: 100%;
    flex-shrink: 0;
  }
}
.settingsItemName {
  margin-left: 8px;
  font: 400 14px/1 $lato;
  color: $clr-white;
}
