.connect {
  margin-top: 35px;
}
.connect_btn {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 14px;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background: $clr-orange;
    margin-right: 10px;
    transition: opacity 0.1s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

  &_img {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 50%;
  }
  &_name {
    margin-inline: 16px;
    font: $font16;
    color: $clr-white;
  }
  &_lbl {
    margin-left: auto;
    font: $fontMedium;
    color: $clr-orange;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

  + .connect_btn {
    margin-top: 24px;
  }

  &:hover {
    &:before,
    .connect_btn_lbl {
      opacity: 1;
    }
  }
}
.connect_next {
  margin-left: auto;
  margin-top: 20px;
  padding: 14px;
  max-width: 129px;
  width: 100%;
}

@media (max-width: $tablet) {
  .connect_next {
    max-width: 100%;
  }
}
@media (max-width: $mobile) {
  .connect_next {
    margin-top: 40px;
  }
}
