.stat {
    padding: 23px;
    width: 100%;
    background: $clr-black;
    border-radius: 25px;
}
.stat_icon {
    width: 20px;
    height: 20px;

    svg,
    img {
        width: 100%;
        height: 100%;
    }
}
.stat_value {
    margin-top: 16px;
    font: 900 24px/.85 $lato;
    color: $clr-white
}
.stat_title {
    margin-top: 16px;
    font: $font16;
    color: $clr-white;
}
