.viewed_profile {
  display: none;

  + [data-role="nf-card"] {
    margin-top: 0 !important;
  }
}

@media (max-width: $tablet){
  .viewed_profile {
    display: flex;

    + [data-role="nf-card"] {
      margin-top: 16px !important;
    }
  }
}