


.meeting-calendar-label {
  padding: 0 24px;
  font: 400 20px/.88 $lato;
  white-space: nowrap;
}
.meeting-calendar-label strong {
  
  color: $clr-white;
}
.meeting-calendar-label span {
  color: $clr-gray-dark;
}