.works {
    padding: 35px 30px 30px;
}
.subtitle {
    margin-top: 36px;
    font: $fontSmall;
}
.textarea {
    max-height: 105px;
    margin-top: 14px;
    padding: 16px 20px;
    border-radius: 15px;
    height: 1em;
    background: $clr-black-main;
}
.empty {
    margin-top: 24px;
    max-width: 342px;

    font: $font16;
    color: $clr-gray-dark;
}
.postBtn {
    margin-top: 48px;
    margin-left: auto;
    padding: 14px;
    min-width: 129px;

    &:disabled {
        opacity: 1;
        background-color: #35383c;
        color: $clr-black-main;
    }
}
