


.root {}
.btn {
}
.list {
  padding: 0;
  padding-top: 20px;
  top: calc(100% - 20px);
}
.item {
  padding: 20px 21px;
  cursor: pointer;
  transition: background 0.1s ease-in;

  &:hover {
    background: lighten($clr-black-main, 2%);
  }
}
.content {
  display: flex;
  align-items: center;
}
.icon {
  max-width: 16px;
  max-height: 16px;
  width: 100%;
}
.name {
  margin-left: 12px;
  font: $fontMedium;
  color: $clr-white;
}