.root {
  max-width: 329px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin: -9px -4.5px 0;
}
.item {
  margin-top: 9px;
  padding: 0 4.5px;
  flex: 0 0 (100% / 3);

  [data-role="text"] {
    background-color: $clr-black;
  }
  [data-role="container"] {
    padding-bottom: 65%;
    border-radius: 8px;
  }
  [data-role="name"] {
    display: none;
  }
}