.root {
  padding: 45px 30px 30px;
}

.rateSubtitle {
  margin-top: 28px;
}

.rating {
  margin-top: 14px;
}

.reviewSubtitle {
  margin-top: 36px;
}

.textArea {
  margin-top: 14px;
  padding: 16px 20px;

  background: $clr-black-main;
  border-radius: 15px;
  min-height: 103px;
  max-height: 103px;
}

.postBtn {
  margin-top: 48px;
  margin-left: auto;
  padding: 14px;
  min-width: 129px;

  &:disabled {
    opacity: 1;
    background-color: #35383c;
    color: $clr-black-main;
  }
}

.textarea {
  height: 105px;
  margin-top: 14px;
  padding: 16px 20px;
  border-radius: 15px;
  background: $clr-black-main;
}

.member {
  max-height: 105px;
  margin-top: 36px;
  padding: 10px 20px;
  border-radius: 15px;
  background: $clr-black-main;
  display: flex;
  align-items: center;

  span {
    color: $clr-white;
    margin-left: 10px;
  }
}