.root {
  display: flex;
  align-items: center;
}
.number {
  font: $fontMedium;
  color: $clr-white;
  user-select: none;
}
.stars {
  margin-left: 14px;
  display: flex;
  align-items: center;
  transform: translateY(-2px);
}
.starsItem {
  width: 14px;
  flex-shrink: 0;
  cursor: pointer;

  [data-fill] {
    fill: $clr-gray-dark;
  }

  + .starsItem {
    margin-left: 1px;
  }

  &.starsItemActive {
    [data-fill] {
      fill: $clr-green;
    }
  }
}
