.root {
    padding: 35px 30px 30px;
}

.spacer {
    margin-top: 60px;
}

.subtitle {
    margin-bottom: 16px;

    font: $fontSmall;
}

.spacer_less {
    margin-top: 22px;
}

.textarea {
    padding: 17px 24px;
    min-height: 132px;
    max-height: 150px;
    border-radius: 15px;

    background: $clr-black-main;
}

.submit_btn {
    margin-top: 58px;
    margin-left: auto;

    padding: 14px;
    min-width: 129px;
}