.root {
    width: 100%;
    padding: 16px 16px 30px;
    background: #161819;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

.title {
    font: 600 18px/1.15 $lato;
    color: $clr-white;
}

.list {
    margin-top: 16px;
    max-width: 100%;
    display: flex;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.list_item {
    flex-shrink: 0;
    
    + .list_item {
        margin-left: 16px;
    }
}