.root {
    padding: 30px;
}

.description {
    font: 400 16px/1.7 $lato;
    color: $clr-white;
    margin-top: 16px;
    text-align: center;
    align-self: center;
    width: 275px;
}

.input {
    margin-top: 24px;
}

.button {
    margin-top: 24px;
    padding: 16px 26px;
    border-radius: 36px;
    font: 700 16px/1.2 $lato;
    align-self: end;
}