.root {
  display: flex;
  align-items: center;
}
.img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  flex-shrink: 0;
}
.img1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;
}
.content {
  padding-left: 16px;
}
.name {
  font: $font16;
  color: #f0f0f0;
}
.id {
  margin-top: 4px;
  font: $fontSmall;
  color: $clr-gray-dark;
}
.rating {
  margin-top: 10px;
  :global(.filled .svg-fill) {
    fill: $clr-lavender;
  }
}
.buttonIcon {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $clr-lavender;

  font: 500 16px/1 $lato;
  color: $clr-black;
}
