.root {
    width: 345px;
    padding: 24px;
    background: $clr-black-main;

    border-radius: 25px;
}
.row {
    display: flex;
    align-items: center;
}
.img {
    width: 71px;
    height: 71px;
    flex-shrink: 0;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #060709;

    font: 700 28px/1.1 $lato;
    color: $clr-white;
}
.name {
    padding-left: 16px;
    font: $font24;
    color: $clr-white;
}
.tags {
    margin-top: 24px;
}