.root {
    max-height: 700px;
    overflow: hidden auto;

    &::-webkit-scrollbar {
        display: none;
    }

    $colors: $clr-green, $clr-lavender, $clr-orange;
    $len: length($colors);

    [data-role='item'] {
        @for $i from 1 through $len {
            &:nth-child(#{$len}n + #{$i}) {
                [data-role='name'] {
                    color: nth($colors, $i);
                }
            }
        }
    }
}
